In [1]:
import pandas as pd

In [10]:
csv_path = "../Resources/nps_df.csv"
clean_nps_df = pd.read_csv(csv_path)
clean_nps_df.head()

  park_code           national_park         state   acres  latitude  longitude
0      ACAD    Acadia National Park         Maine   47390     44.35     -68.21
1      ARCH    Arches National Park          Utah   76519     38.68    -109.57
2      BADL  Badlands National Park  South Dakota  242756     43.75    -102.50
3      BIBE  Big Bend National Park         Texas  801163     29.25    -103.25
4      BISC  Biscayne National Park       Florida  172924     25.65     -80.08

In [11]:
visits_path = "../Resources/clean_visits.csv"
clean_visits_df = pd.read_csv(visits_path)
clean_visits_df.head()

            national_park   visitors
0    Acadia National Park  3303393.0
1    Arches National Park  1585718.0
2  Badlands National Park   996263.0
3  Big Bend National Park   388290.0
4  Biscayne National Park   514709.0

In [12]:
merge_nps_df = pd.DataFrame.merge(clean_nps_df, clean_visits_df, how="left")
merge_nps_df.head()

,park_code,national_park,state,acres,latitude,longitude,visitors
0,ACAD,Acadia National Park,Maine,47390,44.35,-68.21,3303393.0
1,ARCH,Arches National Park,Utah,76519,38.68,-109.57,1585718.0
2,BADL,Badlands National Park,South Dakota,242756,43.75,-102.50,996263.0
3,BIBE,Big Bend National Park,Texas,801163,29.25,-103.25,388290.0
4,BISC,Biscayne National Park,Florida,172924,25.65,-80.08,514709.0

In [13]:
merge_nps_df['national_park'].value_counts()

Glacier Bay National Park and Preserve            1
Yosemite National Park                            1
Cuyahoga Valley National Park                     1
Lake Clark National Park and Preserve             1
Capitol Reef National Park                        1
Kobuk Valley National Park                        1
Theodore Roosevelt National Park                  1
Lassen Volcanic National Park                     1
Petrified Forest National Park                    1
Mammoth Cave National Park                        1
Olympic National Park                             1
Joshua Tree National Park                         1
Mount Rainier National Park                       1
Arches National Park                              1
Kenai Fjords National Park                        1
Badlands National Park                            1
Yellowstone National Park                         1
Gates Of The Arctic National Park and Preserve    1
Katmai National Park and Preserve                 1
Grand Teton National Park                         1
Carlsbad Caverns National Park                    1
Death Valley National Park                        1
Guadalupe Mountains National Park                 1
Congaree National Park                            1
Grand Canyon National Park                        1
Sequoia and Kings Canyon National Parks           1
Rocky Mountain National Park                      1
Great Smoky Mountains National Park               1
Haleakala National Park                           1
Canyonlands National Park                         1
Great Basin National Park                         1
Glacier National Park                             1
Bryce Canyon National Park                        1
Acadia National Park                              1
Redwood National Park                             1
Voyageurs National Park                           1
Channel Islands National Park                     1
Hawaii Volcanoes National Park                    1
Shenandoah National Park                          1
Saguaro National Park                             1
Black Canyon of the Gunnison National Park        1
Great Sand Dunes National Park and Preserve       1
Biscayne National Park                            1
Pinnacles National Park                           1
Denali National Park and Preserve                 1
Wind Cave National Park                           1
Dry Tortugas National Park                        1
Isle Royale National Park                         1
Crater Lake National Park                         1
Wrangell - St Elias National Park and Preserve    1
Zion National Park                                1
North Cascades National Park                      1
Big Bend National Park                            1
Everglades National Park                          1
Hot Springs National Park                         1
Mesa Verde National Park                          1
Name: national_park, dtype: int64

In [14]:
merge_nps_df.count()

park_code        56
national_park    56
state            56
acres            56
latitude         56
longitude        56
visitors         48
dtype: int64