In [2]:
import pandas as pd

In [3]:
csv_path = "Resources/clean_trails_df.csv"
clean_trails_df = pd.read_csv(csv_path)
clean_trails_df.head()

,trail_id,trail_name,national_park,state,popularity,length,elevation,difficulty,route_type,rating,num_reviews,trailhead_lat,trailhead_long
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Alaska,24.9,9.7,1161.9,5,out and back,5.0,423,60.18852,-149.63156
1,10236086,Mount Healy Overlook Trail,Denali National Park,Alaska,18.0,4.3,507.8,3,out and back,4.5,260,63.73049,-148.91968
2,10267857,Exit Glacier Trail,Kenai Fjords National Park,Alaska,17.8,1.8,82.0,1,out and back,4.5,224,60.18879,-149.63100
3,10236076,Horseshoe Lake Trail,Denali National Park,Alaska,16.3,2.1,119.8,1,loop,4.5,237,63.73661,-148.91500
4,10236082,Triple Lakes Trail,Denali National Park,Alaska,12.6,18.5,1124.7,5,out and back,4.5,110,63.73319,-148.89682

In [4]:
csv_path = "Resources/nps_df.csv"
nps_df = pd.read_csv(csv_path)
nps_df.head()

  park_code           national_park         state   acres  latitude  longitude
0      ACAD    Acadia National Park         Maine   47390     44.35     -68.21
1      ARCH    Arches National Park          Utah   76519     38.68    -109.57
2      BADL  Badlands National Park  South Dakota  242756     43.75    -102.50
3      BIBE  Big Bend National Park         Texas  801163     29.25    -103.25
4      BISC  Biscayne National Park       Florida  172924     25.65     -80.08

In [6]:
nps_park_diff = set(nps_df.national_park).difference(clean_trails_df.national_park)
print(nps_park_diff)

{'Lake Clark National Park', 'Kobuk Valley National Park', 'Great Sand Dunes National Park', 'Wrangell - St Elias National Park', 'Gates of the Arctic National Park', 'Sequoia and Kings Canyon National Parks'}

In [7]:
trails_park_diff = set(clean_trails_df.national_park).difference(nps_df.national_park)
print(trails_park_diff)

{'Great Sand Dunes National Park and Preserve', 'Fort Hunt National Park', 'Gateway Arch National Park', 'Kings Canyon National Park', 'Wolf Trap National Park for the Performing Arts', 'Congaree National Park Wilderness', 'Fort Pickens National Park', 'Sequoia National Park', 'Indiana Dunes National Park'}

In [8]:
merge_clean_trails = pd.DataFrame.merge(nps_df, clean_trails_df, how='inner')
merge_clean_trails.head()

,park_code,national_park,state,acres,latitude,longitude,trail_id,trail_name,popularity,length,elevation,difficulty,route_type,rating,num_reviews,trailhead_lat,trailhead_long
0,ACAD,Acadia National Park,Maine,47390,44.35,-68.21,10006208,The Beehive Loop Trail,43.9,1.4,148.7,5,loop,5.0,1123,44.33153,-68.18520
1,ACAD,Acadia National Park,Maine,47390,44.35,-68.21,10006042,Cadillac North Ridge Trail,34.8,4.0,340.8,3,out and back,4.5,679,44.37854,-68.22954
2,ACAD,Acadia National Park,Maine,47390,44.35,-68.21,10241910,Jordan Pond Full Loop Trail,31.1,3.4,29.0,3,loop,4.5,578,44.32200,-68.25437
3,ACAD,Acadia National Park,Maine,47390,44.35,-68.21,10260660,Ocean Path and Gorham Mountain Loop Trail,30.5,3.1,182.0,3,loop,4.5,343,44.32998,-68.18404
4,ACAD,Acadia National Park,Maine,47390,44.35,-68.21,10010417,Cadillac Mountain South Ridge Trail Loop,28.7,7.5,684.9,5,loop,4.5,426,44.31306,-68.21502

In [9]:
unique_parks = merge_clean_trails['national_park'].unique()
unique_parks
len(unique_parks)

46

In [10]:
merge_clean_trails.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2508 entries, 0 to 2507
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   park_code       2508 non-null   object
 1   national_park   2508 non-null   object
 2   state           2508 non-null   object
 3   acres           2508 non-null   int64
 4   latitude        2508 non-null   float64
 5   longitude       2508 non-null   float64
 6   trail_id        2508 non-null   int64
 7   trail_name      2508 non-null   object
 8   popularity      2508 non-null   float64
 9   length          2508 non-null   float64
 10  elevation       2508 non-null   float64
 11  difficulty      2508 non-null   int64
 12  route_type      2508 non-null   object
 13  rating          2508 non-null   float64
 14  num_reviews     2508 non-null   int64
 15  trailhead_lat   2508 non-null   float64
 16  trailhead_long  2508 non-null   float64
dtypes: float64(8), int64(4), object(5)
memory usage: 352.7+ KB

In [11]:
merge_clean_trails['state'].value_counts()

California        480
Washington        320
Utah              292
Colorado          248
Virginia          187
Maine             179
Arizona           174
Montana           132
Wyoming           102
Texas              94
Ohio               50
Hawaii             35
Florida            29
Alaska             29
Kentucky           28
North Dakota       23
Nevada             22
Oregon             22
South Dakota       20
Arkansas           16
New Mexico          8
Minnesota           7
South Carolina      7
Michigan            4
Name: state, dtype: int64

In [12]:
trail_stats = merge_clean_trails.drop(columns=['national_park', 'state', 'acres', 'latitude', 'longitude', 'trail_name', 'trailhead_lat', 'trailhead_long'])
trail_stats.head()

,park_code,trail_id,popularity,length,elevation,difficulty,route_type,rating,num_reviews
0,ACAD,10006208,43.9,1.4,148.7,5,loop,5.0,1123
1,ACAD,10006042,34.8,4.0,340.8,3,out and back,4.5,679
2,ACAD,10241910,31.1,3.4,29.0,3,loop,4.5,578
3,ACAD,10260660,30.5,3.1,182.0,3,loop,4.5,343
4,ACAD,10010417,28.7,7.5,684.9,5,loop,4.5,426

In [13]:
trail_stats.to_csv('Output/trail_stats.csv', index=False, header=True)

In [14]:
trails_df = clean_trails_df.drop(columns=['popularity', 'length', 'elevation', 'difficulty', 'route_type', 'rating', 'num_reviews'])
trails_df.head()

,trail_id,trail_name,national_park,state,trailhead_lat,trailhead_long
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Alaska,60.18852,-149.63156
1,10236086,Mount Healy Overlook Trail,Denali National Park,Alaska,63.73049,-148.91968
2,10267857,Exit Glacier Trail,Kenai Fjords National Park,Alaska,60.18879,-149.63100
3,10236076,Horseshoe Lake Trail,Denali National Park,Alaska,63.73661,-148.91500
4,10236082,Triple Lakes Trail,Denali National Park,Alaska,63.73319,-148.89682

In [15]:
trails_df.to_csv('Output/trails.csv', index=False, header=True)