In [1]:
import pandas as pd

In [2]:
csv_path = "Resources/nps_acres.csv"
nps_acres_df = pd.read_csv(csv_path)
nps_acres_df.head()

  Park Code               Park Name State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25    -103.25
4      BISC  Biscayne National Park    FL  172924     25.65     -80.08

In [4]:
nps_unique = nps_acres_df['Park Name'].unique()
print(len(nps_unique))
print(nps_unique)

56
['Acadia National Park' 'Arches National Park' 'Badlands National Park'
 'Big Bend National Park' 'Biscayne National Park'
 'Black Canyon of the Gunnison National Park' 'Bryce Canyon National Park'
 'Canyonlands National Park' 'Capitol Reef National Park'
 'Carlsbad Caverns National Park' 'Channel Islands National Park'
 'Congaree National Park' 'Crater Lake National Park'
 'Cuyahoga Valley National Park' 'Denali National Park and Preserve'
 'Death Valley National Park' 'Dry Tortugas National Park'
 'Everglades National Park'
 'Gates Of The Arctic National Park and Preserve' 'Glacier National Park'
 'Glacier Bay National Park and Preserve' 'Great Basin National Park'
 'Grand Canyon National Park'
 'Great Sand Dunes National Park and Preserve'
 'Great Smoky Mountains National Park' 'Grand Teton National Park'
 'Guadalupe Mountains National Park' 'Haleakala National Park'
 'Hawaii Volcanoes National Park' 'Hot Springs National Park'
 'Isle Royale National Park' 'Joshua Tree National Park'
 'Katmai National Park and Preserve' 'Kenai Fjords National Park'
 'Kobuk Valley National Park' 'Lake Clark National Park and Preserve'
 'Lassen Volcanic National Park' 'Mammoth Cave National Park'
 'Mesa Verde National Park' 'Mount Rainier National Park'
 'North Cascades National Park' 'Olympic National Park'
 'Petrified Forest National Park' 'Pinnacles National Park'
 'Redwood National Park' 'Rocky Mountain National Park'
 'Saguaro National Park' 'Sequoia and Kings Canyon National Parks'
 'Shenandoah National Park' 'Theodore Roosevelt National Park'
 'Voyageurs National Park' 'Wind Cave National Park'
 'Wrangell - St Elias National Park and Preserve'
 'Yellowstone National Park' 'Yosemite National Park' 'Zion National Park']

In [5]:
nps_acres_df['Park Name'].value_counts()

Denali National Park and Preserve                 1
Lassen Volcanic National Park                     1
Mammoth Cave National Park                        1
Kenai Fjords National Park                        1
Yosemite National Park                            1
Badlands National Park                            1
Shenandoah National Park                          1
Gates Of The Arctic National Park and Preserve    1
Channel Islands National Park                     1
Sequoia and Kings Canyon National Parks           1
Guadalupe Mountains National Park                 1
Death Valley National Park                        1
Redwood National Park                             1
Olympic National Park                             1
Great Smoky Mountains National Park               1
Big Bend National Park                            1
Carlsbad Caverns National Park                    1
Cuyahoga Valley National Park                     1
Katmai National Park and Preserve                 1
Grand Teton National Park                         1
Canyonlands National Park                         1
Hawaii Volcanoes National Park                    1
Grand Canyon National Park                        1
Kobuk Valley National Park                        1
Glacier Bay National Park and Preserve            1
Everglades National Park                          1
Capitol Reef National Park                        1
Hot Springs National Park                         1
Zion National Park                                1
Petrified Forest National Park                    1
Voyageurs National Park                           1
Black Canyon of the Gunnison National Park        1
Biscayne National Park                            1
Rocky Mountain National Park                      1
Mesa Verde National Park                          1
Great Basin National Park                         1
Theodore Roosevelt National Park                  1
Lake Clark National Park and Preserve             1
Congaree National Park                            1
Crater Lake National Park                         1
Saguaro National Park                             1
Glacier National Park                             1
North Cascades National Park                      1
Wrangell - St Elias National Park and Preserve    1
Great Sand Dunes National Park and Preserve       1
Wind Cave National Park                           1
Dry Tortugas National Park                        1
Acadia National Park                              1
Yellowstone National Park                         1
Arches National Park                              1
Joshua Tree National Park                         1
Pinnacles National Park                           1
Bryce Canyon National Park                        1
Isle Royale National Park                         1
Haleakala National Park                           1
Mount Rainier National Park                       1
Name: Park Name, dtype: int64

In [6]:
clean_nps_acres = nps_acres_df.replace({
    'AL': 'Alabama',
    'AK': 'Alaska',
    'AZ': 'Arizona',
    'AR': 'Arkansas',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DE': 'Delaware',
    'FL': 'Florida',
    'GA': 'Georgia',
    'HI': 'Hawaii',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'IA': 'Iowa',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'ME': 'Maine',
    'MD': 'Maryland',
    'MA': 'Massachusetts',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MS': 'Mississippi',
    'MO': 'Missouri',
    'MT': 'Montana',
    'NE': 'Nebraska',
    'NV': 'Nevada',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NY': 'New York',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VT': 'Vermont',
    'VA': 'Virginia',
    'WA': 'Washington',
    'WV': 'West Virginia',
    'WI': 'Wisconsin',
    'WY': 'Wyoming'
})

In [7]:
clean_nps_acres.head()

  Park Code               Park Name         State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park         Maine   47390     44.35     -68.21
1      ARCH    Arches National Park          Utah   76519     38.68    -109.57
2      BADL  Badlands National Park  South Dakota  242756     43.75    -102.50
3      BIBE  Big Bend National Park         Texas  801163     29.25    -103.25
4      BISC  Biscayne National Park       Florida  172924     25.65     -80.08

In [8]:
clean_nps_acres = clean_nps_acres.drop(columns=['Park Code'])
clean_nps_acres.head()

                Park Name         State   Acres  Latitude  Longitude
0    Acadia National Park         Maine   47390     44.35     -68.21
1    Arches National Park          Utah   76519     38.68    -109.57
2  Badlands National Park  South Dakota  242756     43.75    -102.50
3  Big Bend National Park         Texas  801163     29.25    -103.25
4  Biscayne National Park       Florida  172924     25.65     -80.08

In [9]:
clean_nps_acres = clean_nps_acres.rename(columns={"Park Name": "National Park"})
clean_nps_acres.head()

            National Park         State   Acres  Latitude  Longitude
0    Acadia National Park         Maine   47390     44.35     -68.21
1    Arches National Park          Utah   76519     38.68    -109.57
2  Badlands National Park  South Dakota  242756     43.75    -102.50
3  Big Bend National Park         Texas  801163     29.25    -103.25
4  Biscayne National Park       Florida  172924     25.65     -80.08