In [87]:
import pandas as pd

In [88]:
csv_path = "Resources/nps_acres.csv"
nps_acres_df = pd.read_csv(csv_path)
nps_acres_df.head()

  Park Code               Park Name State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25    -103.25
4      BISC  Biscayne National Park    FL  172924     25.65     -80.08

In [89]:
nps_unique = nps_acres_df['Park Name'].unique()
print(len(nps_unique))
print(nps_unique)

56
['Acadia National Park' 'Arches National Park' 'Badlands National Park'
 'Big Bend National Park' 'Biscayne National Park'
 'Black Canyon of the Gunnison National Park' 'Bryce Canyon National Park'
 'Canyonlands National Park' 'Capitol Reef National Park'
 'Carlsbad Caverns National Park' 'Channel Islands National Park'
 'Congaree National Park' 'Crater Lake National Park'
 'Cuyahoga Valley National Park' 'Denali National Park and Preserve'
 'Death Valley National Park' 'Dry Tortugas National Park'
 'Everglades National Park'
 'Gates Of The Arctic National Park and Preserve' 'Glacier National Park'
 'Glacier Bay National Park and Preserve' 'Great Basin National Park'
 'Grand Canyon National Park'
 'Great Sand Dunes National Park and Preserve'
 'Great Smoky Mountains National Park' 'Grand Teton National Park'
 'Guadalupe Mountains National Park' 'Haleakala National Park'
 'Hawaii Volcanoes National Park' 'Hot Springs National Park'
 'Isle Royale National Park' 'Joshua Tree National Park'
 'Katmai National Park and Preserve' 'Kenai Fjords National Park'
 'Kobuk Valley National Park' 'Lake Clark National Park and Preserve'
 'Lassen Volcanic National Park' 'Mammoth Cave National Park'
 'Mesa Verde National Park' 'Mount Rainier National Park'
 'North Cascades National Park' 'Olympic National Park'
 'Petrified Forest National Park' 'Pinnacles National Park'
 'Redwood National Park' 'Rocky Mountain National Park'
 'Saguaro National Park' 'Sequoia and Kings Canyon National Parks'
 'Shenandoah National Park' 'Theodore Roosevelt National Park'
 'Voyageurs National Park' 'Wind Cave National Park'
 'Wrangell - St Elias National Park and Preserve'
 'Yellowstone National Park' 'Yosemite National Park' 'Zion National Park']

In [90]:
nps_acres_df['Park Name'].value_counts()
nps_acres_df['Park Name'].sort_values()

0                               Acadia National Park
1                               Arches National Park
2                             Badlands National Park
3                             Big Bend National Park
4                             Biscayne National Park
5         Black Canyon of the Gunnison National Park
6                         Bryce Canyon National Park
7                          Canyonlands National Park
8                         Capitol Reef National Park
9                     Carlsbad Caverns National Park
10                     Channel Islands National Park
11                            Congaree National Park
12                         Crater Lake National Park
13                     Cuyahoga Valley National Park
15                        Death Valley National Park
14                 Denali National Park and Preserve
16                        Dry Tortugas National Park
17                          Everglades National Park
18    Gates Of The Arctic National Park and Preserve
20            Glacier Bay National Park and Preserve
19                             Glacier National Park
22                        Grand Canyon National Park
25                         Grand Teton National Park
21                         Great Basin National Park
23       Great Sand Dunes National Park and Preserve
24               Great Smoky Mountains National Park
26                 Guadalupe Mountains National Park
27                           Haleakala National Park
28                    Hawaii Volcanoes National Park
29                         Hot Springs National Park
30                         Isle Royale National Park
31                         Joshua Tree National Park
32                 Katmai National Park and Preserve
33                        Kenai Fjords National Park
34                        Kobuk Valley National Park
35             Lake Clark National Park and Preserve
36                     Lassen Volcanic National Park
37                        Mammoth Cave National Park
38                          Mesa Verde National Park
39                       Mount Rainier National Park
40                      North Cascades National Park
41                             Olympic National Park
42                    Petrified Forest National Park
43                           Pinnacles National Park
44                             Redwood National Park
45                      Rocky Mountain National Park
46                             Saguaro National Park
47           Sequoia and Kings Canyon National Parks
48                          Shenandoah National Park
49                  Theodore Roosevelt National Park
50                           Voyageurs National Park
51                           Wind Cave National Park
52    Wrangell - St Elias National Park and Preserve
53                         Yellowstone National Park
54                            Yosemite National Park
55                                Zion National Park
Name: Park Name, dtype: object

In [91]:
clean_nps_acres = nps_acres_df.replace({
    'AL': 'Alabama',
    'AK': 'Alaska',
    'AZ': 'Arizona',
    'AR': 'Arkansas',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DE': 'Delaware',
    'FL': 'Florida',
    'GA': 'Georgia',
    'HI': 'Hawaii',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'IA': 'Iowa',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'ME': 'Maine',
    'MD': 'Maryland',
    'MA': 'Massachusetts',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MS': 'Mississippi',
    'MO': 'Missouri',
    'MT': 'Montana',
    'NE': 'Nebraska',
    'NV': 'Nevada',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NY': 'New York',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VT': 'Vermont',
    'VA': 'Virginia',
    'WA': 'Washington',
    'WV': 'West Virginia',
    'WI': 'Wisconsin',
    'WY': 'Wyoming'
})

In [92]:
clean_nps_acres.head()

  Park Code               Park Name         State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park         Maine   47390     44.35     -68.21
1      ARCH    Arches National Park          Utah   76519     38.68    -109.57
2      BADL  Badlands National Park  South Dakota  242756     43.75    -102.50
3      BIBE  Big Bend National Park         Texas  801163     29.25    -103.25
4      BISC  Biscayne National Park       Florida  172924     25.65     -80.08

In [93]:
clean_nps_acres = clean_nps_acres.rename(columns={"Park Code": "park_code", "Park Name": "national_park", "State": "state", "Acres": "acres", "Latitude": 'latitude', "Longitude":"longitude"})
clean_nps_acres.head()

  park_code           national_park         state   acres  latitude  longitude
0      ACAD    Acadia National Park         Maine   47390     44.35     -68.21
1      ARCH    Arches National Park          Utah   76519     38.68    -109.57
2      BADL  Badlands National Park  South Dakota  242756     43.75    -102.50
3      BIBE  Big Bend National Park         Texas  801163     29.25    -103.25
4      BISC  Biscayne National Park       Florida  172924     25.65     -80.08

In [94]:
clean_nps_acres['state'].value_counts()

Alaska            8
California        7
Utah              5
Colorado          4
Washington        3
Florida           3
Arizona           3
South Dakota      2
Texas             2
Hawaii            2
TN, NC            1
Maine             1
Montana           1
Minnesota         1
WY, MT, ID        1
Arkansas          1
North Dakota      1
Michigan          1
CA, NV            1
Wyoming           1
Virginia          1
Oregon            1
Ohio              1
South Carolina    1
Kentucky          1
New Mexico        1
Nevada            1
Name: state, dtype: int64

In [95]:
nps_replace = {
    "and Preserve": "",
    "The ": "the ",
    "Of ": "of "
}
clean_nps_acres = clean_nps_acres.replace(nps_replace, regex=True)
clean_nps_acres['national_park'] = clean_nps_acres['national_park'].str.strip()
clean_nps_acres['national_park'].unique()

array(['Acadia National Park', 'Arches National Park',
       'Badlands National Park', 'Big Bend National Park',
       'Biscayne National Park',
       'Black Canyon of the Gunnison National Park',
       'Bryce Canyon National Park', 'Canyonlands National Park',
       'Capitol Reef National Park', 'Carlsbad Caverns National Park',
       'Channel Islands National Park', 'Congaree National Park',
       'Crater Lake National Park', 'Cuyahoga Valley National Park',
       'Denali National Park', 'Death Valley National Park',
       'Dry Tortugas National Park', 'Everglades National Park',
       'Gates of the Arctic National Park', 'Glacier National Park',
       'Glacier Bay National Park', 'Great Basin National Park',
       'Grand Canyon National Park', 'Great Sand Dunes National Park',
       'Great Smoky Mountains National Park', 'Grand Teton National Park',
       'Guadalupe Mountains National Park', 'Haleakala National Park',
       'Hawaii Volcanoes National Park', 'Hot Springs National Park',
       'Isle Royale National Park', 'Joshua Tree National Park',
       'Katmai National Park', 'Kenai Fjords National Park',
       'Kobuk Valley National Park', 'Lake Clark National Park',
       'Lassen Volcanic National Park', 'Mammoth Cave National Park',
       'Mesa Verde National Park', 'Mount Rainier National Park',
       'North Cascades National Park', 'Olympic National Park',
       'Petrified Forest National Park', 'Pinnacles National Park',
       'Redwood National Park', 'Rocky Mountain National Park',
       'Saguaro National Park', 'Sequoia and Kings Canyon National Parks',
       'Shenandoah National Park', 'Theodore Roosevelt National Park',
       'Voyageurs National Park', 'Wind Cave National Park',
       'Wrangell - St Elias National Park', 'Yellowstone National Park',
       'Yosemite National Park', 'Zion National Park'], dtype=object)

In [96]:
nps_df = pd.DataFrame(clean_nps_acres)
nps_df.head()

  park_code           national_park         state   acres  latitude  longitude
0      ACAD    Acadia National Park         Maine   47390     44.35     -68.21
1      ARCH    Arches National Park          Utah   76519     38.68    -109.57
2      BADL  Badlands National Park  South Dakota  242756     43.75    -102.50
3      BIBE  Big Bend National Park         Texas  801163     29.25    -103.25
4      BISC  Biscayne National Park       Florida  172924     25.65     -80.08

In [97]:
nps_df.to_csv('Resources/nps_df.csv', index=False, header=True)

In [105]:
csv_path = "Resources/clean_trails_df.csv"
clean_trails_df = pd.read_csv(csv_path)
clean_trails_df.head()

,trail_id,trail_name,national_park,state,popularity,length,elevation,difficulty,route_type,rating,num_reviews,trailhead_lat,trailhead_long
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Alaska,24.9,9.7,1161.9,5,out and back,5.0,423,60.18852,-149.63156
1,10236086,Mount Healy Overlook Trail,Denali National Park,Alaska,18.0,4.3,507.8,3,out and back,4.5,260,63.73049,-148.91968
2,10267857,Exit Glacier Trail,Kenai Fjords National Park,Alaska,17.8,1.8,82.0,1,out and back,4.5,224,60.18879,-149.63100
3,10236076,Horseshoe Lake Trail,Denali National Park,Alaska,16.3,2.1,119.8,1,loop,4.5,237,63.73661,-148.91500
4,10236082,Triple Lakes Trail,Denali National Park,Alaska,12.6,18.5,1124.7,5,out and back,4.5,110,63.73319,-148.89682

In [106]:
nps_park_diff = set(nps_df.national_park).difference(clean_trails_df.national_park)
print(park_diff_nps)

{'Wrangell - St Elias National Park', 'Lake Clark National Park', 'Gates of the Arctic National Park', 'Sequoia and Kings Canyon National Parks', 'Kobuk Valley National Park', 'Great Sand Dunes National Park'}

In [107]:
trails_park_diff = set(clean_trails_df.national_park).difference(nps_df.national_park)
print(park_diff_trails)

{'Fort Hunt National Park', 'Indiana Dunes National Park', 'Great Sand Dunes National Park and Preserve', 'Fort Pickens National Park', 'Sequoia National Park', 'Gateway Arch National Park', 'Kings Canyon National Park', 'Wolf Trap National Park for the Performing Arts', 'Clayton Co International Park, Jonesboro GA', 'Congaree National Park Wilderness'}

In [108]:
merge_clean_trails = pd.DataFrame.merge(nps_df, clean_trails_df, how='outer')
merge_clean_trails.head()

,park_code,national_park,state,acres,latitude,longitude,trail_id,trail_name,popularity,length,elevation,difficulty,route_type,rating,num_reviews,trailhead_lat,trailhead_long
0,ACAD,Acadia National Park,Maine,47390.0,44.35,-68.21,10006208.0,The Beehive Loop Trail,43.9,1.4,148.7,5.0,loop,5.0,1123.0,44.33153,-68.18520
1,ACAD,Acadia National Park,Maine,47390.0,44.35,-68.21,10006042.0,Cadillac North Ridge Trail,34.8,4.0,340.8,3.0,out and back,4.5,679.0,44.37854,-68.22954
2,ACAD,Acadia National Park,Maine,47390.0,44.35,-68.21,10241910.0,Jordan Pond Full Loop Trail,31.1,3.4,29.0,3.0,loop,4.5,578.0,44.32200,-68.25437
3,ACAD,Acadia National Park,Maine,47390.0,44.35,-68.21,10260660.0,Ocean Path and Gorham Mountain Loop Trail,30.5,3.1,182.0,3.0,loop,4.5,343.0,44.32998,-68.18404
4,ACAD,Acadia National Park,Maine,47390.0,44.35,-68.21,10010417.0,Cadillac Mountain South Ridge Trail Loop,28.7,7.5,684.9,5.0,loop,4.5,426.0,44.31306,-68.21502

In [109]:
unique_parks = merge_clean_trails['national_park'].unique()
unique_parks
len(unique_parks)

65

In [110]:
merge_clean_trails.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3322 entries, 0 to 3321
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   park_code       2518 non-null   object
 1   national_park   3322 non-null   object
 2   state           3322 non-null   object
 3   acres           2518 non-null   float64
 4   latitude        2518 non-null   float64
 5   longitude       2518 non-null   float64
 6   trail_id        3312 non-null   float64
 7   trail_name      3312 non-null   object
 8   popularity      3312 non-null   float64
 9   length          3312 non-null   float64
 10  elevation       3312 non-null   float64
 11  difficulty      3312 non-null   float64
 12  route_type      3312 non-null   object
 13  rating          3312 non-null   float64
 14  num_reviews     3312 non-null   float64
 15  trailhead_lat   3312 non-null   float64
 16  trailhead_long  3312 non-null   float64
dtypes: float64(12), object(5)
memory usage: 467.2+ KB

In [111]:
merge_clean_trails['state'].value_counts()

California        708
Washington        320
Wyoming           311
Utah              292
Colorado          263
Virginia          191
Maine             179
Tennessee         175
Arizona           174
Montana           151
North Carolina    118
Texas              94
Ohio               50
Hawaii             36
Alaska             33
Florida            31
Kentucky           28
Nevada             25
North Dakota       23
Oregon             22
South Dakota       20
Indiana            16
Arkansas           16
Maui               14
New Mexico          8
South Carolina      8
Minnesota           7
Michigan            4
Missouri            2
CA, NV              1
TN, NC              1
WY, MT, ID          1
Name: state, dtype: int64

In [112]:
merge_clean_trails

,park_code,national_park,state,acres,latitude,longitude,trail_id,trail_name,popularity,length,elevation,difficulty,route_type,rating,num_reviews,trailhead_lat,trailhead_long
0,ACAD,Acadia National Park,Maine,47390.0,44.35,-68.21,10006208.0,The Beehive Loop Trail,43.9,1.4,148.7,5.0,loop,5.0,1123.0,44.33153,-68.18520
1,ACAD,Acadia National Park,Maine,47390.0,44.35,-68.21,10006042.0,Cadillac North Ridge Trail,34.8,4.0,340.8,3.0,out and back,4.5,679.0,44.37854,-68.22954
2,ACAD,Acadia National Park,Maine,47390.0,44.35,-68.21,10241910.0,Jordan Pond Full Loop Trail,31.1,3.4,29.0,3.0,loop,4.5,578.0,44.32200,-68.25437
3,ACAD,Acadia National Park,Maine,47390.0,44.35,-68.21,10260660.0,Ocean Path and Gorham Mountain Loop Trail,30.5,3.1,182.0,3.0,loop,4.5,343.0,44.32998,-68.18404
4,ACAD,Acadia National Park,Maine,47390.0,44.35,-68.21,10010417.0,Cadillac Mountain South Ridge Trail Loop,28.7,7.5,684.9,5.0,loop,4.5,426.0,44.31306,-68.21502
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3317,NaN,Haleakala National Park,Maui,NaN,NaN,NaN,10008302.0,Silversword Loop Via Halemau'u Trail,9.4,12.5,1105.8,5.0,loop,4.5,43.0,20.75275,-156.22884
3318,NaN,Haleakala National Park,Maui,NaN,NaN,NaN,10236001.0,Keonehe'ehe'e Trail,9.2,17.6,1172.0,5.0,out and back,5.0,22.0,20.71448,-156.25072
3319,NaN,Haleakala National Park,Maui,NaN,NaN,NaN,10258707.0,Red Hill Overlook Summit Trail,8.5,0.2,4.0,1.0,out and back,4.5,31.0,20.71007,-156.25357
3320,NaN,Haleakala National Park,Maui,NaN,NaN,NaN,10014989.0,Kaupo Trail,8.3,12.0,1670.9,5.0,out and back,4.0,8.0,20.64981,-156.13700
3321,NaN,Haleakala National Park,Maui,NaN,NaN,NaN,10259465.0,Ka Lu'u o ka O'o Cinder Cone via Crater and Sl...,2.4,5.2,510.8,3.0,loop,4.5,45.0,20.71449,-156.25085

In [114]:
trail_stats = merge_clean_trails.drop(columns=['national_park', 'state', 'acres', 'latitude', 'longitude', 'trail_name', 'trailhead_lat', 'trailhead_long'])
trail_stats.head()

,park_code,trail_id,popularity,length,elevation,difficulty,route_type,rating,num_reviews
0,ACAD,10006208.0,43.9,1.4,148.7,5.0,loop,5.0,1123.0
1,ACAD,10006042.0,34.8,4.0,340.8,3.0,out and back,4.5,679.0
2,ACAD,10241910.0,31.1,3.4,29.0,3.0,loop,4.5,578.0
3,ACAD,10260660.0,30.5,3.1,182.0,3.0,loop,4.5,343.0
4,ACAD,10010417.0,28.7,7.5,684.9,5.0,loop,4.5,426.0

In [115]:
trail_stats.to_csv('Output/trail_stats.csv', index=False, header=True)