In [1]:
import pandas as pd

In [2]:
file_path = "../Resources/park_visitation.csv"
park_visitation_df = pd.read_csv(file_path)
park_visitation_df.head()

,Created By,Measure Selector,Year,Date Edit,ScrapeURL,GIS Notes,Gnis Id,Geometry,Metadata,Number of Records,Parkname,Region,State,Unit Code,Unit Name,Unit Type,Visitors,YearRaw
0,Legacy,1,1/1/1904 12:00:00 AM,4/22/2015,https://irma.nps.gov/Stats/SSRSReports/Park%20...,LEGACY: contact allen_mccoy@nps.gov for additi...,1163670,POLYGON,NaN,1,Crater Lake,PW,OR,CRLA,Crater Lake National Park,National Park,1500.0,1904
1,Legacy,1,1/1/1941 12:00:00 AM,4/22/2015,https://irma.nps.gov/Stats/SSRSReports/Park%20...,LEGACY: contact allen_mccoy@nps.gov for additi...,1531834,MULTIPOLYGON,NaN,1,Lake Roosevelt,PW,WA,LARO,Lake Roosevelt National Recreation Area,National Recreation Area,0.0,1941
2,Legacy,1,1/1/1961 12:00:00 AM,4/22/2015,https://irma.nps.gov/Stats/SSRSReports/Park%20...,LEGACY: contact allen_mccoy@nps.gov for additi...,2055170,MULTIPOLYGON,NaN,1,Lewis and Clark,PW,WA,LEWI,Lewis and Clark National Historical Park,National Historical Park,69000.0,1961
3,Legacy,1,1/1/1935 12:00:00 AM,4/22/2015,https://irma.nps.gov/Stats/SSRSReports/Park%20...,LEGACY: contact allen_mccoy@nps.gov for additi...,1530459,MULTIPOLYGON,NaN,1,Olympic,PW,WA,OLYM,Olympic National Park,National Park,2200.0,1935
4,Legacy,1,1/1/1982 12:00:00 AM,4/22/2015,https://irma.nps.gov/Stats/SSRSReports/Park%20...,LEGACY: contact denise_kamradt@nps.gov for add...,277263,POLYGON,NaN,1,Santa Monica Mountains,PW,CA,SAMO,Santa Monica Mountains National Recreation Area,National Recreation Area,468144.0,1982

In [3]:
park_visitation_df['YearRaw'].unique()

array(['1904', '1941', '1961', '1935', '1982', '1919', '1969', '1967',
       '1944', '1989', '1988', '1993', '1955', '1976', '1980', '1934',
       '1951', '1925', '1948', '1931', '1940', '1971', '1979', '2011',
       '2004', '1968', '1984', '1987', '1985', '1973', '1936', '1992',
       '1920', '1991', '1957', '1964', '1937', '1966', '1974', '1995',
       '1962', '1929', '1997', '1950', '1942', '1956', '1972', '1970',
       '2000', '1933', '1924', '1921', '2010', '1978', '1975', '1906',
       '1996', '2003', '2006', '1947', '2002', '1908', '1965', '1939',
       '1960', '1938', '1963', '2001', '1954', '1958', '2013', '1981',
       '1952', '1923', '1983', '2016', '1998', '2007', '2015', '1915',
       '1911', '1917', 'Total', '1930', '1932', '1922', '1926', '1986',
       '1990', '2014', '1994', '2012', '1977', '2009', '2008', '2005',
       '1999', '1959', '1946', '1945', '1953', '1943', '1949', '1928',
       '1927', '1918', '1916', '1914', '1913', '1912', '1910', '1909',
       '1905', '1907'], dtype=object)

In [4]:
new_park_visitation = park_visitation_df.loc[(park_visitation_df['YearRaw'] == '2016') & (park_visitation_df['Unit Type'] == 'National Park')]
new_park_visitation.head()

,Created By,Measure Selector,Year,Date Edit,ScrapeURL,GIS Notes,Gnis Id,Geometry,Metadata,Number of Records,Parkname,Region,State,Unit Code,Unit Name,Unit Type,Visitors,YearRaw
768,Legacy,1,1/1/2016 12:00:00 AM,4/22/2015,https://irma.nps.gov/Stats/SSRSReports/Park%20...,LEGACY: contact allen_mccoy@nps.gov for additi...,1163670,POLYGON,NaN,1,Crater Lake,PW,OR,CRLA,Crater Lake National Park,National Park,756344.0,2016
771,Legacy,1,1/1/2016 12:00:00 AM,4/22/2015,https://irma.nps.gov/Stats/SSRSReports/Park%20...,LEGACY: contact allen_mccoy@nps.gov for additi...,1530459,MULTIPOLYGON,NaN,1,Olympic,PW,WA,OLYM,Olympic National Park,National Park,3390221.0,2016
773,Legacy,1,1/1/2016 12:00:00 AM,12/18/2013,https://irma.nps.gov/Stats/SSRSReports/Park%20...,LEGACY: NPS Inventory and Monitoring Program D...,578853,MULTIPOLYGON,NaN,1,NaN,NE,ME,ACAD,Acadia National Park,National Park,3303393.0,2016
776,Legacy,1,1/1/2016 12:00:00 AM,12/18/2013,https://irma.nps.gov/Stats/SSRSReports/Park%20...,LEGACY: NPS Inventory and Monitoring Program D...,1377082,POLYGON,NaN,1,NaN,IM,TX,BIBE,Big Bend National Park,National Park,388290.0,2016
790,Legacy,1,1/1/2016 12:00:00 AM,12/18/2013,https://irma.nps.gov/Stats/SSRSReports/Park%20...,LEGACY: NPS Inventory and Monitoring Program D...,293666,POLYGON,NaN,1,NaN,SE,FL,EVER,Everglades National Park,National Park,930907.0,2016

In [5]:
new_park_visitation.describe()

       Measure Selector  Number of Records      Visitors
count              61.0               61.0  6.100000e+01
mean                1.0                1.0  1.375743e+06
std                 0.0                0.0  1.904489e+06
min                 1.0                1.0  1.004700e+04
25%                 1.0                1.0  3.465340e+05
50%                 1.0                1.0  6.074790e+05
75%                 1.0                1.0  1.544300e+06
max                 1.0                1.0  1.131279e+07

In [6]:
park_visits_df = new_park_visitation[['Unit Name', 'Visitors']].copy()
park_visits_df.head()

                     Unit Name   Visitors
768  Crater Lake National Park   756344.0
771      Olympic National Park  3390221.0
773       Acadia National Park  3303393.0
776     Big Bend National Park   388290.0
790   Everglades National Park   930907.0

In [7]:
clean_visits_df = park_visits_df.rename(columns = {"Unit Name": "national_park", "Visitors": "visitors"})
clean_visits_df = clean_visits_df.sort_values('national_park')
clean_visits_df

                                        national_park   visitors
773                              Acadia National Park  3303393.0
848                              Arches National Park  1585718.0
1065                           Badlands National Park   996263.0
776                            Big Bend National Park   388290.0
942                            Biscayne National Park   514709.0
...                                               ...        ...
824   Wolf Trap National Park for the Performing Arts   437513.0
1127                 Wrangell-St. Elias National Park    79047.0
878                         Yellowstone National Park  4257177.0
1087                           Yosemite National Park  5028868.0
981                                Zion National Park  4295127.0

[61 rows x 2 columns]

In [8]:
clean_visits_df['national_park'].unique()

array(['Acadia National Park', 'Arches National Park',
       'Badlands National Park', 'Big Bend National Park',
       'Biscayne National Park',
       'Black Canyon of the Gunnison National Park',
       'Bryce Canyon National Park', 'Canyonlands National Park',
       'Capitol Reef National Park', 'Carlsbad Caverns National Park',
       'Channel Islands National Park', 'Congaree National Park',
       'Crater Lake National Park', 'Cuyahoga Valley National Park',
       'Death Valley National Park', 'Denali National Park',
       'Denali National Preserve', 'Dry Tortugas National Park',
       'Everglades National Park', 'Gates of the Arctic National Park',
       'Glacier Bay National Park', 'Glacier National Park',
       'Grand Canyon National Park', 'Grand Teton National Park',
       'Great Basin National Park', 'Great Sand Dunes National Park',
       'Great Smoky Mountains National Park',
       'Guadalupe Mountains National Park', 'Haleakala National Park',
       "Hawai'i Volcanoes National Park", 'Hot Springs National Park',
       'Isle Royale National Park', 'Joshua Tree National Park',
       'Katmai National Park', 'Kenai Fjords National Park',
       'Kings Canyon National Park', 'Kobuk Valley National Park',
       'Lake Clark National Park', 'Lassen Volcanic National Park',
       'Mammoth Cave National Park', 'Mesa Verde National Park',
       'Mount Rainier National Park', 'National Park of American Samoa',
       'North Cascades National Park', 'Olympic National Park',
       'Petrified Forest National Park', 'Pinnacles National Park',
       'Redwood National Park', 'Rocky Mountain National Park',
       'Saguaro National Park', 'Sequoia National Park',
       'Shenandoah National Park', 'Theodore Roosevelt National Park',
       'Virgin Islands National Park', 'Voyageurs National Park',
       'Wind Cave National Park',
       'Wolf Trap National Park for the Performing Arts',
       'Wrangell-St. Elias National Park', 'Yellowstone National Park',
       'Yosemite National Park', 'Zion National Park'], dtype=object)

In [9]:
visits_replace = {
    "Hawai'i": "Hawaii",
    "Wrangell-St.": "Wrangell - St",
}
clean_visits_df = clean_visits_df.replace(visits_replace, regex=True)
clean_visits_df['national_park'] = clean_visits_df['national_park'].str.strip()
clean_visits_df['national_park'].unique()

array(['Acadia National Park', 'Arches National Park',
       'Badlands National Park', 'Big Bend National Park',
       'Biscayne National Park',
       'Black Canyon of the Gunnison National Park',
       'Bryce Canyon National Park', 'Canyonlands National Park',
       'Capitol Reef National Park', 'Carlsbad Caverns National Park',
       'Channel Islands National Park', 'Congaree National Park',
       'Crater Lake National Park', 'Cuyahoga Valley National Park',
       'Death Valley National Park', 'Denali National Park',
       'Denali National Preserve', 'Dry Tortugas National Park',
       'Everglades National Park', 'Gates of the Arctic National Park',
       'Glacier Bay National Park', 'Glacier National Park',
       'Grand Canyon National Park', 'Grand Teton National Park',
       'Great Basin National Park', 'Great Sand Dunes National Park',
       'Great Smoky Mountains National Park',
       'Guadalupe Mountains National Park', 'Haleakala National Park',
       'Hawaii Volcanoes National Park', 'Hot Springs National Park',
       'Isle Royale National Park', 'Joshua Tree National Park',
       'Katmai National Park', 'Kenai Fjords National Park',
       'Kings Canyon National Park', 'Kobuk Valley National Park',
       'Lake Clark National Park', 'Lassen Volcanic National Park',
       'Mammoth Cave National Park', 'Mesa Verde National Park',
       'Mount Rainier National Park', 'National Park of American Samoa',
       'North Cascades National Park', 'Olympic National Park',
       'Petrified Forest National Park', 'Pinnacles National Park',
       'Redwood National Park', 'Rocky Mountain National Park',
       'Saguaro National Park', 'Sequoia National Park',
       'Shenandoah National Park', 'Theodore Roosevelt National Park',
       'Virgin Islands National Park', 'Voyageurs National Park',
       'Wind Cave National Park',
       'Wolf Trap National Park for the Performing Arts',
       'Wrangell - St Elias National Park', 'Yellowstone National Park',
       'Yosemite National Park', 'Zion National Park'], dtype=object)

In [10]:
# Save to Outputs
clean_visits_df.to_csv("../Outputs/clean_visits.csv", index=False)