In [132]:
import pandas as pd

In [133]:
csv_path = "Resources/nps_acres.csv"
nps_acres_df = pd.read_csv(csv_path)
nps_acres_df.head()

  Park Code               Park Name State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25    -103.25
4      BISC  Biscayne National Park    FL  172924     25.65     -80.08

In [134]:
nps_unique = nps_acres_df['Park Name'].unique()
print(len(nps_unique))
print(nps_unique)

56
['Acadia National Park' 'Arches National Park' 'Badlands National Park'
 'Big Bend National Park' 'Biscayne National Park'
 'Black Canyon of the Gunnison National Park' 'Bryce Canyon National Park'
 'Canyonlands National Park' 'Capitol Reef National Park'
 'Carlsbad Caverns National Park' 'Channel Islands National Park'
 'Congaree National Park' 'Crater Lake National Park'
 'Cuyahoga Valley National Park' 'Denali National Park and Preserve'
 'Death Valley National Park' 'Dry Tortugas National Park'
 'Everglades National Park'
 'Gates Of The Arctic National Park and Preserve' 'Glacier National Park'
 'Glacier Bay National Park and Preserve' 'Great Basin National Park'
 'Grand Canyon National Park'
 'Great Sand Dunes National Park and Preserve'
 'Great Smoky Mountains National Park' 'Grand Teton National Park'
 'Guadalupe Mountains National Park' 'Haleakala National Park'
 'Hawaii Volcanoes National Park' 'Hot Springs National Park'
 'Isle Royale National Park' 'Joshua Tree National Park'
 'Katmai National Park and Preserve' 'Kenai Fjords National Park'
 'Kobuk Valley National Park' 'Lake Clark National Park and Preserve'
 'Lassen Volcanic National Park' 'Mammoth Cave National Park'
 'Mesa Verde National Park' 'Mount Rainier National Park'
 'North Cascades National Park' 'Olympic National Park'
 'Petrified Forest National Park' 'Pinnacles National Park'
 'Redwood National Park' 'Rocky Mountain National Park'
 'Saguaro National Park' 'Sequoia and Kings Canyon National Parks'
 'Shenandoah National Park' 'Theodore Roosevelt National Park'
 'Voyageurs National Park' 'Wind Cave National Park'
 'Wrangell - St Elias National Park and Preserve'
 'Yellowstone National Park' 'Yosemite National Park' 'Zion National Park']

In [135]:
nps_acres_df['Park Name'].value_counts()
nps_acres_df['Park Name'].sort_values()

0                               Acadia National Park
1                               Arches National Park
2                             Badlands National Park
3                             Big Bend National Park
4                             Biscayne National Park
5         Black Canyon of the Gunnison National Park
6                         Bryce Canyon National Park
7                          Canyonlands National Park
8                         Capitol Reef National Park
9                     Carlsbad Caverns National Park
10                     Channel Islands National Park
11                            Congaree National Park
12                         Crater Lake National Park
13                     Cuyahoga Valley National Park
15                        Death Valley National Park
14                 Denali National Park and Preserve
16                        Dry Tortugas National Park
17                          Everglades National Park
18    Gates Of The Arctic National Park and Preserve
20            Glacier Bay National Park and Preserve
19                             Glacier National Park
22                        Grand Canyon National Park
25                         Grand Teton National Park
21                         Great Basin National Park
23       Great Sand Dunes National Park and Preserve
24               Great Smoky Mountains National Park
26                 Guadalupe Mountains National Park
27                           Haleakala National Park
28                    Hawaii Volcanoes National Park
29                         Hot Springs National Park
30                         Isle Royale National Park
31                         Joshua Tree National Park
32                 Katmai National Park and Preserve
33                        Kenai Fjords National Park
34                        Kobuk Valley National Park
35             Lake Clark National Park and Preserve
36                     Lassen Volcanic National Park
37                        Mammoth Cave National Park
38                          Mesa Verde National Park
39                       Mount Rainier National Park
40                      North Cascades National Park
41                             Olympic National Park
42                    Petrified Forest National Park
43                           Pinnacles National Park
44                             Redwood National Park
45                      Rocky Mountain National Park
46                             Saguaro National Park
47           Sequoia and Kings Canyon National Parks
48                          Shenandoah National Park
49                  Theodore Roosevelt National Park
50                           Voyageurs National Park
51                           Wind Cave National Park
52    Wrangell - St Elias National Park and Preserve
53                         Yellowstone National Park
54                            Yosemite National Park
55                                Zion National Park
Name: Park Name, dtype: object

In [136]:
clean_nps_acres = nps_acres_df.replace({
    'AL': 'Alabama',
    'AK': 'Alaska',
    'AZ': 'Arizona',
    'AR': 'Arkansas',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DE': 'Delaware',
    'FL': 'Florida',
    'GA': 'Georgia',
    'HI': 'Hawaii',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'IA': 'Iowa',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'ME': 'Maine',
    'MD': 'Maryland',
    'MA': 'Massachusetts',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MS': 'Mississippi',
    'MO': 'Missouri',
    'MT': 'Montana',
    'NE': 'Nebraska',
    'NV': 'Nevada',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NY': 'New York',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VT': 'Vermont',
    'VA': 'Virginia',
    'WA': 'Washington',
    'WV': 'West Virginia',
    'WI': 'Wisconsin',
    'WY': 'Wyoming'
})

In [137]:
clean_nps_acres.head()

  Park Code               Park Name         State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park         Maine   47390     44.35     -68.21
1      ARCH    Arches National Park          Utah   76519     38.68    -109.57
2      BADL  Badlands National Park  South Dakota  242756     43.75    -102.50
3      BIBE  Big Bend National Park         Texas  801163     29.25    -103.25
4      BISC  Biscayne National Park       Florida  172924     25.65     -80.08

In [138]:
clean_nps_acres = clean_nps_acres.rename(columns={"Park Code": "park_code", "Park Name": "national_park", "State": "state", "Acres": "acres", "Latitude": 'latitude', "Longitude":"longitude"})
clean_nps_acres.head()

  park_code           national_park         state   acres  latitude  longitude
0      ACAD    Acadia National Park         Maine   47390     44.35     -68.21
1      ARCH    Arches National Park          Utah   76519     38.68    -109.57
2      BADL  Badlands National Park  South Dakota  242756     43.75    -102.50
3      BIBE  Big Bend National Park         Texas  801163     29.25    -103.25
4      BISC  Biscayne National Park       Florida  172924     25.65     -80.08

In [139]:
#DEVA park code came up while importing to sql as having a null for all other columns when doing a left join
#and when tried with outer join
print(clean_nps_acres[clean_nps_acres['park_code']=="DEVA"])

   park_code               national_park   state    acres  latitude  longitude
15      DEVA  Death Valley National Park  CA, NV  4740912     36.24    -116.82

In [140]:
clean_nps_acres['state'].value_counts()

Alaska            8
California        7
Utah              5
Colorado          4
Arizona           3
Florida           3
Washington        3
Hawaii            2
South Dakota      2
Texas             2
Virginia          1
Minnesota         1
Wyoming           1
Ohio              1
Kentucky          1
Oregon            1
WY, MT, ID        1
North Dakota      1
Michigan          1
South Carolina    1
TN, NC            1
Maine             1
Montana           1
Arkansas          1
New Mexico        1
Nevada            1
CA, NV            1
Name: state, dtype: int64

In [141]:
nps_replace = {
    "and Preserve": "",
    "The ": "the ",
    "Of ": "of "
}
clean_nps_acres = clean_nps_acres.replace(nps_replace, regex=True)
clean_nps_acres['national_park'] = clean_nps_acres['national_park'].str.strip()
clean_nps_acres['national_park'].unique()

array(['Acadia National Park', 'Arches National Park',
       'Badlands National Park', 'Big Bend National Park',
       'Biscayne National Park',
       'Black Canyon of the Gunnison National Park',
       'Bryce Canyon National Park', 'Canyonlands National Park',
       'Capitol Reef National Park', 'Carlsbad Caverns National Park',
       'Channel Islands National Park', 'Congaree National Park',
       'Crater Lake National Park', 'Cuyahoga Valley National Park',
       'Denali National Park', 'Death Valley National Park',
       'Dry Tortugas National Park', 'Everglades National Park',
       'Gates of the Arctic National Park', 'Glacier National Park',
       'Glacier Bay National Park', 'Great Basin National Park',
       'Grand Canyon National Park', 'Great Sand Dunes National Park',
       'Great Smoky Mountains National Park', 'Grand Teton National Park',
       'Guadalupe Mountains National Park', 'Haleakala National Park',
       'Hawaii Volcanoes National Park', 'Hot Springs National Park',
       'Isle Royale National Park', 'Joshua Tree National Park',
       'Katmai National Park', 'Kenai Fjords National Park',
       'Kobuk Valley National Park', 'Lake Clark National Park',
       'Lassen Volcanic National Park', 'Mammoth Cave National Park',
       'Mesa Verde National Park', 'Mount Rainier National Park',
       'North Cascades National Park', 'Olympic National Park',
       'Petrified Forest National Park', 'Pinnacles National Park',
       'Redwood National Park', 'Rocky Mountain National Park',
       'Saguaro National Park', 'Sequoia and Kings Canyon National Parks',
       'Shenandoah National Park', 'Theodore Roosevelt National Park',
       'Voyageurs National Park', 'Wind Cave National Park',
       'Wrangell - St Elias National Park', 'Yellowstone National Park',
       'Yosemite National Park', 'Zion National Park'], dtype=object)

In [142]:
nps_df = pd.DataFrame(clean_nps_acres)
nps_df.head()

  park_code           national_park         state   acres  latitude  longitude
0      ACAD    Acadia National Park         Maine   47390     44.35     -68.21
1      ARCH    Arches National Park          Utah   76519     38.68    -109.57
2      BADL  Badlands National Park  South Dakota  242756     43.75    -102.50
3      BIBE  Big Bend National Park         Texas  801163     29.25    -103.25
4      BISC  Biscayne National Park       Florida  172924     25.65     -80.08

In [143]:
nps_df.to_csv('Resources/nps_df.csv', index=False, header=True)

In [144]:
csv_path = "Resources/clean_trails_df.csv"
clean_trails_df = pd.read_csv(csv_path)
clean_trails_df.head()

,trail_id,trail_name,national_park,state,popularity,length,elevation,difficulty,route_type,rating,num_reviews,trailhead_lat,trailhead_long
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Alaska,24.9,9.7,1161.9,5,out and back,5.0,423,60.18852,-149.63156
1,10236086,Mount Healy Overlook Trail,Denali National Park,Alaska,18.0,4.3,507.8,3,out and back,4.5,260,63.73049,-148.91968
2,10267857,Exit Glacier Trail,Kenai Fjords National Park,Alaska,17.8,1.8,82.0,1,out and back,4.5,224,60.18879,-149.63100
3,10236076,Horseshoe Lake Trail,Denali National Park,Alaska,16.3,2.1,119.8,1,loop,4.5,237,63.73661,-148.91500
4,10236082,Triple Lakes Trail,Denali National Park,Alaska,12.6,18.5,1124.7,5,out and back,4.5,110,63.73319,-148.89682

In [145]:
nps_park_diff = set(nps_df.national_park).difference(clean_trails_df.national_park)
print(nps_park_diff)

{'Gates of the Arctic National Park', 'Great Sand Dunes National Park', 'Wrangell - St Elias National Park', 'Sequoia and Kings Canyon National Parks', 'Kobuk Valley National Park', 'Lake Clark National Park'}

In [146]:
trails_park_diff = set(clean_trails_df.national_park).difference(nps_df.national_park)
print(trails_park_diff)

{'Great Sand Dunes National Park and Preserve', 'Fort Hunt National Park', 'Congaree National Park Wilderness', 'Kings Canyon National Park', 'Gateway Arch National Park', 'Wolf Trap National Park for the Performing Arts', 'Indiana Dunes National Park', 'Fort Pickens National Park', 'Sequoia National Park'}

In [147]:
merge_clean_trails = pd.DataFrame.merge(nps_df, clean_trails_df, how='inner')
merge_clean_trails.head()

,park_code,national_park,state,acres,latitude,longitude,trail_id,trail_name,popularity,length,elevation,difficulty,route_type,rating,num_reviews,trailhead_lat,trailhead_long
0,ACAD,Acadia National Park,Maine,47390,44.35,-68.21,10006208,The Beehive Loop Trail,43.9,1.4,148.7,5,loop,5.0,1123,44.33153,-68.18520
1,ACAD,Acadia National Park,Maine,47390,44.35,-68.21,10006042,Cadillac North Ridge Trail,34.8,4.0,340.8,3,out and back,4.5,679,44.37854,-68.22954
2,ACAD,Acadia National Park,Maine,47390,44.35,-68.21,10241910,Jordan Pond Full Loop Trail,31.1,3.4,29.0,3,loop,4.5,578,44.32200,-68.25437
3,ACAD,Acadia National Park,Maine,47390,44.35,-68.21,10260660,Ocean Path and Gorham Mountain Loop Trail,30.5,3.1,182.0,3,loop,4.5,343,44.32998,-68.18404
4,ACAD,Acadia National Park,Maine,47390,44.35,-68.21,10010417,Cadillac Mountain South Ridge Trail Loop,28.7,7.5,684.9,5,loop,4.5,426,44.31306,-68.21502

In [148]:
unique_parks = merge_clean_trails['national_park'].unique()
unique_parks
len(unique_parks)

46

In [149]:
merge_clean_trails.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2508 entries, 0 to 2507
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   park_code       2508 non-null   object
 1   national_park   2508 non-null   object
 2   state           2508 non-null   object
 3   acres           2508 non-null   int64
 4   latitude        2508 non-null   float64
 5   longitude       2508 non-null   float64
 6   trail_id        2508 non-null   int64
 7   trail_name      2508 non-null   object
 8   popularity      2508 non-null   float64
 9   length          2508 non-null   float64
 10  elevation       2508 non-null   float64
 11  difficulty      2508 non-null   int64
 12  route_type      2508 non-null   object
 13  rating          2508 non-null   float64
 14  num_reviews     2508 non-null   int64
 15  trailhead_lat   2508 non-null   float64
 16  trailhead_long  2508 non-null   float64
dtypes: float64(8), int64(4), object(5)
memory usage: 352.7+ KB

In [150]:
merge_clean_trails['state'].value_counts()

California        480
Washington        320
Utah              292
Colorado          248
Virginia          187
Maine             179
Arizona           174
Montana           132
Wyoming           102
Texas              94
Ohio               50
Hawaii             35
Florida            29
Alaska             29
Kentucky           28
North Dakota       23
Oregon             22
Nevada             22
South Dakota       20
Arkansas           16
New Mexico          8
Minnesota           7
South Carolina      7
Michigan            4
Name: state, dtype: int64

In [151]:
merge_clean_trails

,park_code,national_park,state,acres,latitude,longitude,trail_id,trail_name,popularity,length,elevation,difficulty,route_type,rating,num_reviews,trailhead_lat,trailhead_long
0,ACAD,Acadia National Park,Maine,47390,44.35,-68.21,10006208,The Beehive Loop Trail,43.9,1.4,148.7,5,loop,5.0,1123,44.33153,-68.18520
1,ACAD,Acadia National Park,Maine,47390,44.35,-68.21,10006042,Cadillac North Ridge Trail,34.8,4.0,340.8,3,out and back,4.5,679,44.37854,-68.22954
2,ACAD,Acadia National Park,Maine,47390,44.35,-68.21,10241910,Jordan Pond Full Loop Trail,31.1,3.4,29.0,3,loop,4.5,578,44.32200,-68.25437
3,ACAD,Acadia National Park,Maine,47390,44.35,-68.21,10260660,Ocean Path and Gorham Mountain Loop Trail,30.5,3.1,182.0,3,loop,4.5,343,44.32998,-68.18404
4,ACAD,Acadia National Park,Maine,47390,44.35,-68.21,10010417,Cadillac Mountain South Ridge Trail Loop,28.7,7.5,684.9,5,loop,4.5,426,44.31306,-68.21502
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2503,ZION,Zion National Park,Utah,146598,37.30,-113.05,10298446,Peak 6965 - Kolob Canyons,2.3,2.2,255.7,3,out and back,2.5,3,37.43534,-113.20200
2504,ZION,Zion National Park,Utah,146598,37.30,-113.05,10299979,Crater Hill,2.0,2.4,214.9,3,loop,0.0,0,37.22175,-113.10964
2505,ZION,Zion National Park,Utah,146598,37.30,-113.05,10287263,Kayenta Trail to the Emerald Pools [CLOSED],1.8,2.2,164.0,3,out and back,4.0,39,37.25909,-112.95141
2506,ZION,Zion National Park,Utah,146598,37.30,-113.05,10485189,North Fork Taylor Creek,1.7,5.2,212.8,3,out and back,4.0,1,37.46198,-113.19942
2507,ZION,Zion National Park,Utah,146598,37.30,-113.05,10278538,Kayenta Trail to the Emerald Pools and Zion Lo...,1.7,4.3,313.9,3,out and back,4.0,26,37.25918,-112.95125

In [152]:
trail_stats = merge_clean_trails.drop(columns=['national_park', 'state', 'acres', 'latitude', 'longitude', 'trail_name', 'trailhead_lat', 'trailhead_long'])
trail_stats.head()

,park_code,trail_id,popularity,length,elevation,difficulty,route_type,rating,num_reviews
0,ACAD,10006208,43.9,1.4,148.7,5,loop,5.0,1123
1,ACAD,10006042,34.8,4.0,340.8,3,out and back,4.5,679
2,ACAD,10241910,31.1,3.4,29.0,3,loop,4.5,578
3,ACAD,10260660,30.5,3.1,182.0,3,loop,4.5,343
4,ACAD,10010417,28.7,7.5,684.9,5,loop,4.5,426

In [153]:
trail_stats.to_csv('Output/trail_stats.csv', index=False, header=True)